<app-header></app-header>
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Datos personales:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="firstName">
            @if (addressForm.controls['firstName'].hasError('required')) {
              <mat-error>El nombre es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="lastName">
            @if (addressForm.controls['lastName'].hasError('required')) {
              <mat-error>El apellido es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Domicilio" formControlName="address"></textarea>
            @if (addressForm.controls['address'].hasError('required')) {
              <mat-error>La dirección es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          @if (hasUnitNumber) {
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Domicilio alternativo" formControlName="address2"></textarea>
            </mat-form-field>
          } @else {
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Agregar domicilio alternativo
            </button>
          }
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ciudad" formControlName="city">
            @if (addressForm.controls['city'].hasError('required')) {
              <mat-error>La ciudad es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Provincia" formControlName="state">
              @for (state of states; track state) {
                <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['state'].hasError('required')) {
              <mat-error>La provincia es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Código postal" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="free">Viajo solo</mat-radio-button>
            <mat-radio-button value="priority">Con amigos</mat-radio-button>
            <mat-radio-button value="nextday">En pareja</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>